body
  header
    .header__logo
       a.logo(href="/")
         img(src="https://demo.patternlab.io/images/logo.svg")
    .header__controls
        ul.menu
          li 
            a(href="#") About
          li 
            a(href="#") Blog
          li 
            a(href="#") Contact
          li 
            a(href="#") Login
        .search
          input(type="text" placeholder="Search the site")
  
  .homepage
    .homepage__banner
      img(src="https://demo.patternlab.io/images/sample/hero-forest.jpg")
      h2.banner-desc
        | Track your hikes. Challenge your friends. Get out there and start exploring.
    
    .homepage__content
      ul.tour-list
        li.tour-item.col-4
          a(href="#")
            img(src="https://demo.patternlab.io/images/sample/tout-winter-hiker.jpg")
            .tour-item__title Best winter hikes around the world
        li.tour-item.col-4
          a(href="#")
            img(src="https://demo.patternlab.io/images/sample/tout-leaves.jpg")
            .tour-item__title Sign in to view your dashboard
        li.tour-item.col-4
          a(href="#")
            img(src="https://demo.patternlab.io/images/sample/tout-mountains.jpg")
            .tour-item__title Learn about our mission     
      
      .homepage__content--two-col
        .blog.col-8
          h2 Latest From the Blog
          ul
            li
              a.item(href="#")
                img(src="https://demo.patternlab.io/images/sample/blog-mtns3.jpg")
                .item__detail
                  p.item__title Hardest Hikes in the World
                  | The world delivers a multitude of daunting hikes. How difficult? We have listed some of the most strenuous hikes in the world.
            li
              a.item(href="#")
                img(src="https://demo.patternlab.io/images/sample/blog-trees.jpg")
                .item__detail
                  p.item__title How to Survive in the Woods
                  | Picture yourself alone in the wilderness with only a backpack full of your belongings for 2 weeks. Here are some tips and suggestions on how to survive the hazards that Mother Nature has to offer.
            li
              a.item(href="#")
                img(src="https://demo.patternlab.io/images/sample/blog-mtns2.jpg")
                .item__detail
                  p.item__title Top 10 Best Locations to Hike in the U.S.
                  | You do not have to travel far to explore what nature has to offer. The U.S. contains some of the best sights in the world and we have listed the 10 best for you.
          a.see-all(href="#") View All Posts   
        
        .hiker.col-4
          h2 Featured Hikers
          ul
            li
              a.item(href="#")
                img(src="https://demo.patternlab.io/images/sample/avatar1.jpg")
                .item__detail
                  p.item__title Jimmy Stewart
                  | Indiana, PA
            li
              a.item(href="#")
                img(src="https://demo.patternlab.io/images/sample/avatar2.jpg")
                .item__detail
                  p.item__title Janice Kimble
                  | Los Angeles, CA
            li
              a.item(href="#")
                img(src="https://demo.patternlab.io/images/sample/avatar3.jpg")
                .item__detail
                  p.item__title Salvadore Dali XIV
                  | Sheboygan, WI
          a.see-all(href="#") View All Hikers
          
  footer
    a.footer__logo(href="#")
      img(src="https://demo.patternlab.io/images/logo-footer.svg")
    
    ul.footer__nav
      li
        a(href="#") About
      li
        a(href="#") Blog
      li
        a(href="#") Contact
      li
        a(href="#") Login
    
    .footer__info This is a demonstration of what's possible with 
      a(href="#") Pattern Lab
      |. 
      a(href="") Download Pattern Lab
      |, check out the 
      a(href="") documentation
      |, or learn more about 
      a(href="") atomic design
      |.
    
    p.copyright © 2016 HikeTracker. All rights reserved.
      